@model Services.AuthModels.RegisterModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Scheduling</title>
    <link rel="icon" type="image/jfif" href="~/icon.jfif" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCjCk5z8O3bqFeh12Xv1t4+1p4flfl5Gw5+q" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet">
    <style>
        body {
            background-color: #f0f0f0;
            
        }

        .container {
            display: flex;
            overflow: hidden;
            justify-content: flex-end;
            align-items: center;
            height: 100vh;
            background-image: url('@Url.Content("~/Images/Register.jpg")');
            background-size: cover;
            background-position: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-container {
            background-color: rgba(255, 255, 255, 0.5);
            flex:1;
            overflow-y: auto;
            padding: 40px;
            border-radius: 10px;
            max-width: 400px;
            height:700px;
            margin-right: 40px;
        }


        .form-group {
            margin-bottom: 15px;
            position: relative;
        }

        label {
            color: teal;
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"],
        input[type="file"] {
            width: 100%;
            padding: 10px 0;
            border: none;
            border-bottom: 1px solid teal;
            background-color: transparent;
            box-sizing: border-box;
            outline: none;
        }

        input[type="submit"] {
            background-color: rgba(255, 255, 255, 0.5);
            color: teal;
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            border: 2px solid teal;
            width: 300px; 
            margin-left: 7%;
            margin-right: 7%;
        }

            input[type="submit"]:hover {
                background-color: teal;
            }

        .text-danger {
            color: red;
            font-size: 12px;
        }

        input[type="file"] {
            display: none;
        }

        .file-input-label {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgba(255, 255, 255, 0.5);
            color: teal;
            border: 2px solid teal;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .file-input-label:hover {
                background-color: teal;
                color:white;
            }

        .fas.fa-user-circle {
            font-size: 50px;
            color: teal;
        }

        .role-select {
            width: 100%;
            border: none;
            border-bottom: 1px solid teal;
            background-color: transparent;
            box-sizing: border-box;
            outline: none;
        }
    </style>
</head>
<body>

    <div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

    </div>
    <div class="container">

        <div class="form-container">
            <form asp-action="Register" method="post" class="box" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                   
                </div>
                <div>
                    <span style="display:block;" asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input type="text" asp-for="Email" class="form-control" />
                    
                </div>
                <div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                   
                </div>
                <div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label">Role</label>
                    <select asp-for="Role" class="form-control role-select">
                        <option value="">Select Role</option>
                        <option value="patient">Patient</option>
                        <option value="doctor">Doctor</option>

                    </select>
                </div>
                <div>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input type="text" asp-for="FirstName" class="form-control" />
                   
                </div>
                <div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <input type="text" asp-for="LastName" class="form-control" />
                   
                </div>
                <div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" />
                   
                </div>
                <div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Address</label>
                    <input type="text" asp-for="Address" class="form-control" />
                    
                </div>
                <div>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"><i class="fas fa-user-circle"></i></label>
                    <label for="file-input" class="file-input-label">Choose Photo</label>
                    <input asp-for="ImageFile" type="file" id="file-input" class="form-control" />
                </div>
                <div>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
                <div>
                    <p>Already have an account?<a href="/Auth/Login">Click here for Login.</a></p>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div>
            © 2024 [Company Name] |
            <a href="#">About Us</a> |
            <a href="#">Terms of Service</a> |
            <a href="#">Privacy Policy</a>

            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".alert").alert();
        });
    </script>
</body>

</html>



